/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Contenedor principal */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

/* Lista de controles */
#lista-controles {
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}

.item:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Entrada y botones */
input[type="text"] {
  width: 25%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #3498db;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #2980b9;
}

/* Ãrea de texto */
textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: vertical;
}

/* Botones de comando */
.btn-comando {
  margin-right: 5px;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  margin-right: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Generales */
body {
  background: #fff;
  color: #242323;
  font-family: Roboto, sans-serif !important;
}

.mayusculas,
input,
textarea {
}

.letras {
  text-transform: unset !important;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzI.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-wait {
  cursor: wait !important;
}

.filtrosHeader {
  max-height: 50vh !important;
  overflow-y: scroll !important;
}

.filtrosBody {
  height: 50vh !important;
  overflow-y: scroll !important;
}

.divCargando {
  z-index: 100000 !important;
  position: fixed;
  top: 50%;
  color: black;
}

#cargando {
  z-index: 10000 !important;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 100%;
  opacity: 80%;
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

.divs {
  padding: 2px 5px;
  box-shadow: 10px 10px 50px rgb(218 211 211);
  border-radius: 7px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.w-96 {
  width: 96% !important;
}

/* Datatable */
.dataTables_wrapper {
  width: 99% !important;
}

div.dataTables_wrapper div.dt-row {
  position: unset !important;
}

.dataTables_scrollBody {
  position: unset !important;
}

.dataTables_scrollHead {
  position: unset !important;
}

th {
  position: unset !important;
}

table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting_asc:before,
table.dataTable thead > tr > th.sorting_desc:before,
table.dataTable thead > tr > th.sorting_asc_disabled:before,
table.dataTable thead > tr > th.sorting_desc_disabled:before,
table.dataTable thead > tr > td.sorting:before,
table.dataTable thead > tr > td.sorting_asc:before,
table.dataTable thead > tr > td.sorting_desc:before,
table.dataTable thead > tr > td.sorting_asc_disabled:before,
table.dataTable thead > tr > td.sorting_desc_disabled:before {
  display: none !important;
}

table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > th.sorting_asc_disabled:after,
table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  display: none !important;
}

div.dataTables_wrapper {
  position: unset !important;
}

/* Bootstrap */

.unrelative {
  position: unset !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #0a394e !important;
}

.carousel {
  position: unset !important;
}

.carousel-inner {
  position: unset !important;
}

.carousel-item {
  position: unset !important;
}

.col-12 {
  flex: unset !important;
}

.col-lg-3 {
  padding: 30px !important;
}

.page-link {
  position: unset !important;
}

/*--------------------------------------------------------------
# Seccion
--------------------------------------------------------------*/
.secciones {
  padding: 10px 0 5px 0;
}

.secciones .seccion {
  overflow: hidden;
  margin-bottom: 30px;
}

.secciones .seccion .detalles {
  border-radius: 0px 0px 5px 5px;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.secciones .seccion .detalles h3 {
  font-weight: 600;
  margin-bottom: 5px;
}

.secciones .seccion .detalles p {
  font-size: 15px;
  font-style: italic;
}

.secciones .seccion .detalles .pie {
  height: 40px;
}

.secciones .seccion .detalles .pie i {
  line-height: 0;
  margin: 0 2px;
}

.secciones .seccion .detalles a {
  color: #fff;
}

.secciones .seccion .detalles a:hover {
  color: #f82249;
}

.secciones .seccion:hover .detalles {
  bottom: 0;
}

.secciones-detalles {
  padding: 60px 0;
}

.secciones-detalles .detalles h2 {
  color: #112363;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.secciones-detalles .detalles .pie {
  margin-bottom: 15px;
}

.secciones-detalles .detalles .pie a {
  background: #e9edfb;
  color: #112363;
  line-height: 1;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.secciones-detalles .detalles .pie a:hover {
  background: #f82249;
  color: #fff;
}

.secciones-detalles .detalles .pie a i {
  font-size: 16px;
  line-height: 0;
}

.secciones-detalles .detalles p {
  color: #112363;
  font-size: 15px;
  margin-bottom: 10px;
}

.precarga {
  background-repeat: no-repeat;
  background-image: url("../../assets/img/loading.gif");
  background-position: center;
}

.mh45 {
  max-height: 45vh !important;
}

.mh50 {
  max-height: 50vh !important;
}

.mh60 {
  max-height: 60vh !important;
}

.mh62 {
  max-height: 62vh !important;
}

.mh65 {
  max-height: 65vh !important;
}

.h65 {
  height: 65vh !important;
}

.h85 {
  height: 85vh !important;
  border-radius: 0px 0px 10% 10%;
}

.porta {
  height: 100%;
}

.mh70 {
  max-height: 70vh !important;
}

.mh75 {
  max-height: 75vh !important;
}

.mh80 {
  max-height: 80vh !important;
}

.nav {
  text-align: center !important;
}

.whatsapp {
  position: fixed;
  bottom: 5%;
  right: 2%;
  background-color: #25d366;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 32px;
  z-index: 100;
}

.modal {
  padding-right: 0px !important;
}

p {
  text-align: justify !important;
}

.whatsapp-icon {
  margin-top: 13px;
}

.swal2-progress-bar-custom {
  height: 10px !important;
  background-color: #f5c2c7 !important;
}

.m-1 a {
  padding: 1px !important;
}

.carrusel-livrosca {
  text-align-last: center !important;
  text-align: -webkit-center !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--bs-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.gy-5 {
  --bs-gutter-y: 3rem;
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentcolor;
  opacity: 0.5;
}

.mt-3 {
  margin-top: 1rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.text-center {
  text-align: center !important;
}

a {
  color: #023b6d;
  transition: 0.3s;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #009bd9;
  outline: 0;
  text-decoration: none;
}

.icon {
  width: 16px;
  height: 16px;
}

.template-card {
  transition: 0.3s ease-in-out;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 1px solid #eee;
}

.template-card picture {
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .template-card picture {
    width: 380px;
  }
}

.template-card .details {
  padding: 15px;
  border-left: 1px solid #eee;
}

@media (max-width: 1200px) {
  .template-card .details {
    padding: 15px;
    border-top: 1px solid #eee;
    border-left: 0;
  }
}

.template-card h2 {
  margin: 0;
  padding: 0 0 25px 0;
  font-size: 20px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.template-card h2 a {
  color: #035195;
}

.template-card h2 a::after {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
}

.template-card p {
  color: #555;
  margin: 0 0 25px 0;
  overflow: hidden;
}

.template-card .buttons {
  position: relative;
  z-index: 2;
}

@media (max-width: 1200px) {
  .template-card .buttons {
    text-align: center;
  }
}

.template-card .buttons a {
  display: inline-flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  border-radius: 4px;
  color: #023b6d;
  transition: all 0.3s;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  border: 1px solid #cfd4e4;
}

.template-card .buttons a:hover {
  border-color: #009bd9;
  color: #009bd9;
}

.template-card .buttons a.download {
  margin-left: 12px;
}

@media (max-width: 575px) {
  .template-card .buttons a {
    font-size: 14px;
    padding: 8px 22px;
  }
}

.template-card:hover {
  box-shadow: 0 0 40px rgba(2, 59, 109, 0.1);
}

.template-card:hover h2 a {
  color: #009bd9;
}

.cargando {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 0 0 15px 0;
}

.cargando:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.h1,
h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.5rem;
  }
}

.h2,
h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
}

.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  .h3,
  h3 {
    font-size: 1.75rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.small,
small {
  font-size: 0.875em;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--bs-link-hover-color);
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #023b6d;
  transition: 0.3s;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #009bd9;
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h4,
h5,
h6,
h3 {
  color: #023b6d;
  font-family: Poppins, sans-serif;
}

/** AGOTADO **/
.contenedor {
}

.mensaje-agotado {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3b3f;
  color: #fff;
  padding: 8px;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.texto-agotado:before {
  content: "";
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ff3b3f;
  margin-right: 10px;
}

.texto-agotado:after {
  content: "";
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ff3b3f;
  margin-left: 10px;
}

.carousel-indicators {
  bottom: unset !important;
}

.btn-light,
.btn-dark {
  border: 0px !important;
}

#formFiltrar > select {
  display: unset !important;
  width: unset !important;
}

#formFiltrar > input {
  display: unset !important;
  width: unset !important;
}

.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.precio {
  font-size: 28px;
  font-weight: bold;
  color: #145279;
  padding-top: 3%;
}

.autor {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.edicion,
.ano,
.descripcison {
  font-size: 14px;
  margin-top: 5px;
}

.cajas {
  overflow: auto !important;
  height: 80vh !important;
}
